In [1]:
import keras

In [2]:
numero = 9

In [4]:
# Exibir informação na tela
numero = numero + 1
print(numero)

11

In [10]:
nome = "Paulo" # String ou str
numero_inteiro = 2 # Integer ou int
numero_decimal = 2.5 # Float
solteiro = True # Boolean ou bool

print(nome)
print(numero_inteiro)
print(numero_decimal)
print(solteiro)

print(type(nome))
print(type(numero_inteiro))
print(type(numero_decimal))
print(type(solteiro))

Paulo
2
2.5
True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [21]:
lista = [5, 10, 9, 20, 94, 34, 74, 14, 91, 12, 44, 57] # Lista ou list

print(lista)
print(type(lista))

# Manipulação

primeiro_elemento = lista[0]
print(primeiro_elemento)
print(type(primeiro_elemento))

quantidade_elementos = len(lista)
ultimo_elemento = lista[quantidade_elementos - 1]
print(ultimo_elemento)
print(type(ultimo_elemento))

ultimo_elemento2 = lista[-1]
print(ultimo_elemento2)

# Atribuir outros valores na lista
print(lista)
lista[0] = 20
print(lista)

[5, 10, 9, 20, 94, 34, 74, 14, 91, 12, 44, 57]
<class 'list'>
5
<class 'int'>
57
<class 'int'>
57
[5, 10, 9, 20, 94, 34, 74, 14, 91, 12, 44, 57]
[20, 10, 9, 20, 94, 34, 74, 14, 91, 12, 44, 57]

In [29]:
tupla = 9, 20, 12, 49 # Tupla ou tuple
tupla2 = (9, 20, 12, 49) # Parenteses são opcionais, mas é interessante colocar pra melhorar e leitura do código
print(tupla)
print(type(tupla))

primeiro_elemento = tupla[0]
print(primeiro_elemento)

print(1, 2)
print((1, 2))

(9, 20, 12, 49)
<class 'tuple'>
9
1 2
(1, 2)

In [33]:
# Elementos únicos em uma lista

numeros = [10, 20, 70, 10, 60, 50, 20, 99, 87, 70]

print(numeros)
print(len(numeros))

print(set(numeros))
print(len(set(numeros)))

[10, 20, 70, 10, 60, 50, 20, 99, 87, 70]
10
{99, 70, 10, 50, 20, 87, 60}
7